*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Vim
.vim

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# node
node_modules

# rvm
.ruby-version
.ruby-gemset

# python
env
env[0-9]
.ipynb_checkpoints
*.py[co]

# scala
metals.sbt

# clamav file that gets deleted by sophos
clamav/tests/test1.txt
