"*":
  "activate-power-mode":
    autoToggle: false
  "atom-beautify":
    general:
      _analyticsUserId: "e88713a8-9c71-4fb8-afc1-0e5d2cbda19c"
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
      "*.txt"
    ]
    scopeBlacklist: [
      ".source.json .property"
    ]
  "autocomplete-python":
    useKite: false
  core:
    audioBeep: false
    disabledPackages: [
      "activate-power-mode"
      "vim-mode-plus"
      "Sublime-Style-Column-Selection"
      "busy-signal"
      "color-picker"
      "dash"
      "export-html"
      "git-diff-details"
      "git-plus"
      "git-time-machine"
      "git-history"
      "json-path-finder"
      "table-editor"
      "linter-just-say-no"
      "linter-write-good"
      "linter-alex"
    ]
    ignoredNames: [
      "*.pyc"
      "*.pyo"
    ]
    packagesWithKeymapsDisabled: [
      "split-diff"
    ]
    projectHome: "/Users/bob/dev"
    telemetryConsent: "no"
    themes: [
      "solarized-seti-ui"
      "solarized-dark-syntax"
    ]
    titleBar: "custom"
  "custom-title":
    template: "<%= fileName %><% if (relativeFilePath) { %> - <%= relativeFilePath %><% } %>"
  editor:
    fontFamily: "inconsolata"
    fontSize: 15
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0af1b49f-1954-0bc9-0d56-42322127faf8"
  "git-history": {}
  "git-plus": {}
  linter: {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-markdown":
    presetRecommendedWithoutConfig: false
  "linter-pylama":
    usePep257: false
  "linter-ui-default":
    showPanel: true
  "linter-write-good":
    additionalArgs: "--no-passive"
  "markdown-pdf":
    orientation: "landscape"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
    pandocMarkdownFlavor: "markdown_github"
    useGitHubStyle: true
  "markdown-themeable-pdf":
    enableBreaks: true
    enableCustomFooter: false
    enableCustomHeader: false
    enableLinkify: true
    exportFileType: "html"
    format: "Letter"
    orientation: "landscape"
  "markdown-writer":
    fileExtension: ".md"
    tableExtraPipes: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-git-diff": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pandoc: {}
  "save-session":
    dataSaveFolder: "/Users/bob/.atom/packages/save-session/projects"
  "tidy-markdown":
    runOnSave: false
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".md.text":
  editor:
    showIndentGuide: false
    showInvisibles: false
    softWrap: true
    softWrapAtPreferredLineLength: false
    tabType: "soft"
