packages: [
  "activate-power-mode"
  "atom-beautify"
  "atom-python-debugger"
  "atom-solarized-dark-ui"
  "atomic-chrome"
  "autocomplete-python"
  "color-picker"
  "custom-title"
  "dash"
  "export-html"
  "file-icons"
  "git-diff-details"
  "git-history"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "insert-timestamp"
  "json-path-finder"
  "json-schema"
  "language-docker"
  "language-ini"
  "language-latex"
  "language-markdown"
  "language-mediawiki"
  "language-patch"
  "language-r"
  "language-restructuredtext"
  "linter"
  "linter-docker"
  "linter-flake8"
  "linter-jsonlint"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-themeable-pdf"
  "markdown-toc"
  "markdown-writer"
  "minimap"
  "minimap-autohide"
  "minimap-git-diff"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-selection"
  "monokai"
  "monokai-shade"
  "monokai-slate"
  "multi-cursor"
  "no-caffeine-syntax"
  "package-cop"
  "package-sync"
  "pandoc"
  "pandoc-convert"
  "pretty-json"
  "project-manager"
  "python-tools"
  "save-session"
  "seti-ui"
  "solarized-dark-ui"
  "solarized-seti-ui"
  "split-diff"
  "Sublime-Style-Column-Selection"
  "table-editor"
  "tidy-markdown"
  "tree-view-git-status"
  "vim-mode-plus"
  "wombat-dark-syntax"
  "xml-tools"
]
